:root {
    --background-color:         #fcdb00;
    --foreground-color:         #000000;
    --lighter-background-color: #ffff66;
    --lighter-foreground-color: #111111;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

#headermd {
    background: var(--background-color);
    color:      var(--foreground-color);
}

#header02md {
    display:    flex;
    background: var(--lighter-background-color);
    color:      var(--lighter-foreground-color);
}

#header02md > p {
    margin: 0;
}

#footermd {
    display:    flex;
    background: var(--lighter-background-color);
    color:      var(--lighter-foreground-color);
}

#footermd > p {
    margin: 0;
}

#header {
    font-size: xx-large;
    font-weight: bold;
}
