:root {
    --background-color:        #fcdb00;
    --foreground-color:        #000000;
    --top-background-color:    #224422;
    --top-02-background-color: #447744;
    --top-foreground-color:    #ffffff;
    --top-02-foreground-color: #dddddd;
    --bottom-background-color:    var(--top-background-color);
    --bottom-02-background-color: var(--top-02-background-color);
    --bottom-foreground-color:    var(--top-foreground-color);
    --bottom-02-foreground-color: var(--top-02-foreground-color);
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

#headermd {
    background: var(--background-color);
    color:      var(--foreground-color);
}

#header02md {
    background: var(--top-02-background-color);
    color:      var(--top-02-foreground-color);
}

#footermd {
    background: var(--bottom-background-color);
    color:      var(--bottom-foreground-color);
}

#footer02md {
    background: var(--bottom-02-background-color);
    color:      var(--bottom-02-foreground-color);
}

#header {
    font-size: xx-large;
    font-weight: bold;
}
