:root {
    --background-color:         #fcdb00;
    --foreground-color:         #000000;
    --lighter-background-color: #ffff66;
    --lighter-foreground-color: #111111;
    --padding-header:           1em;
    --padding-left-right:       1em;
    --padding-top-bottom:       0.5em;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

#headermd {
    background: var(--background-color);
    color:      var(--foreground-color);
    padding-top: var(--padding-header);
    padding-right: var(--padding-header);
    padding-bottom: var(--padding-header);
    padding-left: var(--padding-header);
}

#header02md {
    display:    flex;
    background: var(--lighter-background-color);
    color:      var(--lighter-foreground-color);
    padding-top: var(--padding-top-bottom);
    padding-right: var(--padding-left-right);
    padding-bottom: var(--padding-top-bottom);
    padding-left: var(--padding-left-right);
}

#header02md > p {
    margin: 0;
}

#footermd {
    display:    flex;
    background: var(--lighter-background-color);
    color:      var(--lighter-foreground-color);
    padding-top: var(--padding-top-bottom);
    padding-right: var(--padding-left-right);
    padding-bottom: var(--padding-top-bottom);
    padding-left: var(--padding-left-right);
}

#footermd > p {
    margin: 0;
}

#header {
    font-size: xx-large;
    font-weight: bold;
}

#middle {
    padding-top: var(--padding-top-bottom);
    padding-right: var(--padding-left-right);
    padding-bottom: var(--padding-top-bottom);
    padding-left: var(--padding-left-right);
}

#middle table {
    border-collapse: collapse;
}

#middle th {
    background: var(--background-color);
    padding-top: var(--padding-top-bottom);
    padding-right: var(--padding-left-right);
    padding-bottom: var(--padding-top-bottom);
    padding-left: var(--padding-left-right);
}

#middle th:first-child {
    border-top-left-radius: 5px;
}

#middle th:last-child {
    border-top-right-radius: 5px;
}

#middle tr {
    /*border-bottom: solid 1px black;*/
    padding-right: var(--padding-left-right);
    padding-left: var(--padding-left-right);
}

#middle td {
    /*border-bottom: solid 1px black;*/
    padding-right: var(--padding-left-right);
    padding-left: var(--padding-left-right);
}

#middle tr:nth-child(even) {
    background-color: #f2f2f2;
}

#middle tr:last-child td:first-child {
    border-bottom-left-radius: 5px;
}

#middle tr:last-child td:last-child {
    border-bottom-right-radius: 5px;
}
